<!doctype html>
<html>
<body>
	<script src="/js/simple-common.js"></script>
	<script src="/js/simple-html.js"></script>
	<script src="/js/validation.js"></script>

	<div id="testwindow"></div>
	<script>
window.w = {}
window.w.fail = 0;
window.w.success = 0;
window.w.getStackTrace = function() {
	  var obj = {};
	  Error.captureStackTrace(obj, w.getStackTrace);
	  return obj.stack;
	};

window.w.onFail = function(msg) {
	let tw = document.querySelector("#testwindow");
	let d = document.createElement("div");
	tw.appendChild(d);
	d.innerHTML = msg + "<br>" + w.getStackTrace();
	d.border = "1px solid gray";
	w.fail++;
}

window.w.onSuccess = function(msg) {
	w.success++;
}

let v = new Validation(w.onFail, w.onSuccess);

(function(){
	
})();

// testing function
(function(){
	let x = function() {};
	v.true(x.isFunction());
}());

//testing String
(function(){
	v.true("".isString());
	v.true("".isObject());
}());


(function(){
	v.equals(0, "".matchCount("a"));
	v.equals(1, "a".matchCount("a"));
	v.equals(3, "aaa".matchCount("a"));
	v.equals(1, "aaa".matchCount("aaa"));
	v.equals(1, "abaca".matchCount(/a/g));
}());




//////////////end
let tw = document.querySelector("#testwindow");
let d = document.createElement("div");
tw.appendChild(d);
d.innerHTML = "Total Tests:" + (w.success + w.fail) 
if(w.success>0)
	d.innerHTML += "<br>Total Success: <span style='color:green;'>" + w.success + "</span>";
if(w.fail>0)
	d.innerHTML += "<br>Total Fail: <span style='color:red;font-weight:bold;'>" + w.fail + "</span>";
</script>
</body>
</html>
